# ------------------------
# Virtual environment
# ------------------------
FASTAPI/
venv/
.env/

# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------
# Editor / OS junk
# ------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Env / secrets
# ------------------------
.env
.env.*

# ------------------------
# Test / coverage
# ------------------------
.coverage
htmlcov/
.pytest_cache/
